[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
scikit-learn = "*"
nltk = "*"
pandas = "*"
numpy = "*"
tensorflow = "*"
matplotlib = "*"
pydantic = "*"
flask = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.11"
